body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poke-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-list-name {
    background-color: darkred;
    color: white;
    margin: 0px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 50px;
}